@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Padauk&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Padauk', sans-serif;
    font-size: 100%;
    margin: 0;
    background-image: linear-gradient(180.15deg , black, rgb(1, 2, 1), rgb(1, 2, 1), rgb(11, 11, 32));
    background-attachment: fixed;
    color: white;
}

.cabeca {
    margin-bottom: 145px;
}

.menu {
    position: fixed;
    width: 100%;
    top:0;
    overflow: hidden;
    font-family: 'Kanit', sans-serif;
    font-weight: 300px;
    font-size: 18px;
    display: flex;
    gap: 32px;
    background-color: black;
    align-items: center;
}

.nav-img {
    display: flex;
    width: 800px;
}

.menu1 {
    display: flex;
    justify-content: center;
    width: 130px;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: 1px solid blue;
    background-image: linear-gradient(90deg,rgb(0, 255, 255), rgb(0, 119, 255), rgb(0,10,255));
}

.menu2 {
    display: flex;
    justify-content: center;
    width: 130px;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: 1px solid blue;
    background-image: linear-gradient(90deg,rgb(0, 255, 255), rgb(0, 119, 255), rgb(0,10,255));
}

.menu3 {
    display: flex;
    justify-content: center;
    width: 130px;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border: 1px solid blue;
    background-image: linear-gradient(90deg,rgb(0, 255, 255), rgb(0, 119, 255), rgb(0,10,255));
}

.pac {
    margin-top: 70px;
    margin-bottom: 70px;
    background-image: url("../imagem/pac.png");
    width: 51%;
    height: 225px;
    margin-right: auto;
    margin-left: auto;
}

.conteudo1 {
    margin-left: 10px;
    margin-right: 10px;
}

.conteudo1 span {
    color:chartreuse;
}

.briga {
    margin-top: 30px;
    display: flex;
    justify-content: center; 
    margin-bottom: 30px;
}

.vedeo {
    display: flex;
    border-style:ridge;
    border-color: blue;
}
.conteudo2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}


.tabela td{
    width: 200px;
    height: 100px;
    background-color: rgb(251, 252, 255);
    border-radius: 0px 0px 10px 10px;
    color:blueviolet;
    border-width: 2px;
    width: 100px;

}

.tabela th{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 200px;
    height: 50px;
    background-color: rgb(40, 30, 73);
    border-color: rgb(0, 34, 128);
    border-width: 2px;
    color: brown;
}

.tableTeste {
    margin-top: 100px;
    margin-bottom: 70px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: right;
}

.img-dev {
    width: 20%;
    display: flex;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;
}

.conteudo3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-ler{
    border-radius: 50px;
}

.cont3-text {
    margin-top: 60px;
}

.formula {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formula .em, .sub, select, textarea {
    display: flex;
    margin-bottom: 10px;
    width: 500px;
    outline: unset;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid;
    border-color: aquamarine;
}

.sub {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    width: 40%;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
}
